<h3>Search Results</h3>

<%if @coursesubjects.nil? || @coursesubjects.length == 0%>
	<p>No Matches Found</p>
<% else %>
	<p><%= @coursesubjects.length %> matches found</p>
	<%= render "index" %>
<% end %>
